<html lang="en">
  <head>
    <title>HomePage</title>
        <link rel="icon" href="/img/logo.png">

  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
      {{>headergiven}}
      <p>{{message}}</p>
      {{>footer}}
  </body>
</html>
